// colors
$transparent: rgba(157, 157, 157, 0);
$black: rgb(0, 0, 0);
$nearblack: rgb(30, 29, 30);
$white: rgb(255, 255, 255);
$bg-offwhite: rgb(247, 243, 239);
$offwhite: rgb(247, 243, 239);
$dkgray: rgb(119, 119, 119);
$gray: rgb(217, 216, 203);
$ltgray: rgb(221, 218, 214);
$tan: rgb(234, 230, 219);
$brown: rgb(63, 56, 37);
$ltbrown: rgb(108, 104, 91);
$clayred: rgb(172, 130, 109);
