// OPTIMA
@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/Linotype - OptimaLTStd.otf');
}
@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/Linotype\ -\ OptimaLTStd-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

// PXGROTESK
@font-face {
  font-family: 'PxGrotesk';
  src: url('../assets/fonts/PxGrotesk-Regular.otf');
}
@font-face {
  font-family: 'PxGrotesk';
  src: url('../assets/fonts/PxGrotesk-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'PxGrotesk';
  src: url('../assets/fonts/PxGrotesk-RegularIta.otf');
  font-style: italic;
}
@font-face {
  font-family: 'PxGrotesk';
  src: url('../assets/fonts/PxGrotesk-BoldIta.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PxGrotesk Light';
  src: url('../assets/fonts/PxGrotesk-Light.otf');
}
@font-face {
  font-family: 'PxGrotesk Light';
  src: url('../assets/fonts/PxGrotesk-LightIta.otf');
  font-style: italic;
}
