@import './variables.scss';

// media query mixins
@mixin large-mobile-and-tablet {
  @media (min-width: $largeMobileAndTablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

//misc mixins
@mixin spaced-letters {
  letter-spacing: 0.1rem;
}

@mixin bdtop {
  border-top: solid 1px $gray5;
}

@mixin paragraph-ls {
  line-height: 1rem;
}
