.mission-control {
  padding: 0 $mobileContentPadding;

  @include large-mobile-and-tablet {
    padding: 0 $tabletContentPadding;
  }

  @include desktop {
    max-width: 1440px;
    padding: 0 $desktopContentPadding;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    .detail-card-no-image {
      height: auto;
      margin-bottom: $desktopContentPadding;
      .dcni-header {
        height: 100px;
        align-items: flex-end;
        margin: 0;
        p {
          margin: 0;
        }
      }

      .dcni-content {
        position: relative;

        .trip-notes {
          position: absolute;
          right: 15px;
          top: 15px;
          text-align: right;

          .custom-notes {
            float: right;
            flex-direction: row-reverse;
            justify-content: flex-start;
          }
        }

        .detail-table,
        .big-btn {
          margin-top: calc(#{$desktopContentPadding} / 2);
          width: 50%;
        }
      }
    }

    .desktop-row {
      display: flex;
      justify-content: space-between;

      .detail-card-with-image {
        width: 30%;
        height: 600px;

        .detail-header {
          min-height: 40%;
        }

        .image-card-header {
          height: $imageCardHeaderDesktopHeight;
          max-width: 100%;
          margin: 0;

          &.driver-image {
            background-position: 50% 30%;
          }
        }

        .dcwi-content {
          height: 50%;
        }
      }
    }
  }
}
