.detail-header {
  .card-title {
    @include spaced-letters;
    color: $clayred;
    font-size: 11px;
    margin: 0;
    padding-top: $mobileContentPadding;
  }

  .estimated-arrival {
    margin: 8px 0 0;
    font-size: 14px;
  }

  @include large-mobile-and-tablet {
    .card-title {
      font-size: 1rem;
    }
    .estimated-arrival {
      font-size: 1.1rem;
    }
  }
}
