.logo-header {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: $transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $mobileHeaderHeight;

  img {
    height: 14px;
    width: 50px;
  }

  .kabob-nav {
    position: absolute;
    right: $mobileContentPadding;

    @include large-mobile-and-tablet {
      right: $tabletContentPadding;
    }
  }
}
