.logo-header {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: $transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $mobileHeaderHeight;

  .logo-wrapper {
    align-self: flex-start;
    height: 25%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $offwhite;
    padding: 15px;
    border-radius: 0 0 100% 100%;
    border: solid 1px $gray3;

    img {
      height: 14px;
      width: 50px;
    }
  }

  .kabob-nav {
    position: absolute;
    right: $mobileContentPadding;

    @include large-mobile-and-tablet {
      right: $tabletContentPadding;
    }
  }
}
