@import './styles/variables.scss';
@import './styles/fonts.scss';
@import './styles/mixins.scss';
@import './styles/normalize.scss';
@import './pages/styles/missionControlPage.scss';
@import './components/styles/index.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PxGrotesk', sans-serif;
  background-color: $offwhite;
  color: $nearblack;
  font-size: 16px;
}
